/* // this holds the CSS display of the modal */
.mmodal {
  /* // makes it hover above all elements */
  z-index: 1000;
  position: fixed;
  top: 180px;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mmodal-body {
  background: #fff;
  margin: 40px;
  padding: 20px;
  border: solid black;
  border-radius: 10px;
  text-align: center;
}

.modal-title-container {
  color: black;
  text-align: center;
  font-size: larger;
}

.modal-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

.modal-buttons-container button {
  margin: 5px;
}

label {
  color: black;
}
