<div *ngIf="!addOrUpdateToggle; else elseBlock" class="mmodal">
  <form (ngSubmit)="handleSubmit()" class="mmodal-body" ngNativeValidate>
    <div class="modal-title-container">
      <h1>Update patient</h1>
      <hr />
    </div>
    <div class="form-group">
      <label for="orderNo" class="distance-5">Order Number:</label>
      <input
        type="number"
        id="order"
        name="id"
        [(ngModel)]="id"
        class="form-control-sm"
        disabled
      />
      <br /><br />
      <label for="firstName" class="distance-1">First name:</label>
      <input
        type="text"
        id="fname"
        name="firstName"
        [(ngModel)]="firstName"
        class="form-control-sm"
      />
      <br /><br />
      <label for="lastName" class="distance-1">Last name:</label>
      <input
        class="form-control-sm"
        type="text"
        id="lname"
        name="lastName"
        [(ngModel)]="lastName"
      /><br /><br />
      <label for="dob" class="distance-2">Date of birth:</label>
      <input
        class="form-control-sm"
        type="date"
        id="dob"
        name="dateOfBirth"
        max="{{ maxDate }}"
        [(ngModel)]="dateOfBirth"
      /><br /><br />
      <label for="status" class="distance-3">Gender:</label>
      <select
        name="status"
        [(ngModel)]="gender"
        required
        class="form-control-sm"
      >
        <option value="M" [selected]="gender == M">M</option>
        <option value="F" [selected]="gender == F">F</option>
      </select>
      <br /><br />
      <label for="socialNumber" class="distance-4">Social number:</label>
      <input
        class="form-control-sm"
        required
        type="text"
        id="socialNumber"
        name="socialNumber"
        pattern="[0-9]{13}"
        placeholder="13 digits number"
        [(ngModel)]="socialNumber"
      /><br /><br />
      <label for="phoneNumber" class="distance-4">Phone number:</label>
      <input
        class="form-control-sm"
        required
        type="tel"
        id="phone"
        name="phone"
        placeholder="1234-567-890"
        pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}"
        [(ngModel)]="phoneNumber"
      /><br /><br />
    </div>
    <div class="modal-buttons-container">
      <button type="submit" class="btn btn-info">Submit</button>
      <button type="button" (click)="hideModal()" class="btn btn-danger">
        Cancel
      </button>
    </div>
  </form>
</div>
<ng-template #elseBlock
  ><div class="mmodal">
    <form (ngSubmit)="handleSubmit()" class="mmodal-body" ngNativeValidate>
      <div class="modal-title-container">
        <h1>Add new patient</h1>
        <hr />
      </div>
      <div class="form-group">
        <label for="firstName" class="distance-1">First name:</label>
        <input
          class="form-control-sm"
          required
          type="text"
          id="fname"
          name="firstName"
          [(ngModel)]="firstName"
        /><br /><br />
        <label for="lastName" class="distance-1">Last name:</label>
        <input
          class="form-control-sm"
          required
          type="text"
          id="lname"
          name="lastName"
          [(ngModel)]="lastName"
        /><br /><br />
        <label for="dob" class="distance-2">Date of birth:</label>
        <input
          class="form-control-sm"
          required
          type="date"
          id="dob"
          name="dateOfBirth"
          max="{{ maxDate }}"
          [(ngModel)]="dateOfBirth"
        /><br /><br />
        <div>
          <label for="status" class="distance-3">Gender:</label>
          <select
            name="status"
            [(ngModel)]="gender"
            required
            class="form-control-sm"
          >
            <option value="M" [selected]="gender == M">M</option>
            <option value="F" [selected]="gender == F">F</option>
          </select>
        </div>
        <br />
        <label for="socialNumber" class="distance-4">Social number:</label>
        <input
          class="form-control-sm"
          required
          type="text"
          id="socialNumber"
          name="socialNumber"
          pattern="[0-9]{13}"
          placeholder="13 digits number"
          [(ngModel)]="socialNumber"
        /><br /><br />
        <label for="phone" class="distance-4">Phone number:</label>
        <input
          class="form-control-sm"
          required
          type="tel"
          id="phone"
          name="phone"
          placeholder="1234-567-890"
          pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}"
          [(ngModel)]="phoneNumber"
        /><br /><br />
      </div>
      <div class="modal-buttons-container">
        <button type="submit" class="btn btn-info">Submit</button>
        <button type="button" (click)="hideModal()" class="btn btn-danger">
          Cancel
        </button>
      </div>
    </form>
  </div></ng-template
>
