/* // this holds the CSS display of the modal */
.mmodal {
  /* // makes it hover above all elements */
  z-index: 1000;
  position: fixed;
  top: 180px;
  width: 500px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.mmodal-body {
  background: #fff;
  margin: 40px;
  padding: 20px;
  border: solid #37caf0;
  border-radius: 10px;
  text-align: center;
}

.modal-title-container {
  color: black;
  text-align: center;
  font-size: larger;
}

.modal-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

.modal-buttons-container button {
  margin: 5px;
}

.form-group {
  text-align: left !important;
  padding-left: 50px !important;
}

.form-control-sm {
  width: 163px;
}

label {
  color: black;
  font-size: large;
}

.distance-1 {
  padding-right: 65px;
}

.distance-2 {
  padding-right: 50px;
}

.distance-3 {
  padding-right: 95px;
}

.distance-4 {
  padding-right: 33px;
}

.distance-5 {
  padding-right: 37px;
}

hr {
  height: 2px;
  color: #37caf0;
}
