<div>
  <div>
    <button (click)="add()">Add new patient</button>
  </div>

  <app-add-or-update
    *ngIf="showUpdateModal"
    [patientToBeUpdated]="patientToBeUpdated"
  ></app-add-or-update>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.dateOfBirth }}</td>
        <td>{{ patient.gender }}</td>
        <td>
          <div>
            <button (click)="remove(patient)">Remove</button
            ><button (click)="openUpdateModal(patient)">Update</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
